
name: deploy-book-to-docs

on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build the book
        run: |
          jupyter-book build .

      - name: Copy built site to /docs
        run: |
          rm -rf docs  # Supprime l'ancien dossier /docs s'il existe
          cp -r _build/html docs  # Copie le contenu de _build/html vers /docs

      - name: Commit and push /docs
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/
          git commit -m "Update docs with latest build" || echo "No changes to commit"
          git push

